HTML, BODY, A, TABLE, TR, TD, FORM, INPUT, SELECT, TEXTAREA, DIV, P, SPAN, H1, H2, H3, H4, H5, B, UL, LI, DD, DL, DT {

	font-family: sans-serif, Times, "Times New Roman";

}

BODY {
	margin: auto;
	border: 0px;
	padding: 0px;
	background-color: rgb(250, 250, 250);
	color: black;
	font-size: 14px;
}

/* classe css de la page*/
#res_script{
	border:0px solid black;
	width:99%;
	font-size:1.2em;
	text-align:left;
	color:black;
	background-color:white;
}

/* Titre avec le résumé de la requete, le nb de publis, ...*/
div.ZoneTitreResultat
{
	padding-left:10px;
	width:95%;
}
.TitreResultats{
	color:#363842;
	font-size: 1.4em;
	font-weight: bold;
}
.SousTitreResultats {
	margin: 0px 0px 40px;
	font-size: 1.1em;
	color:#363842;
    }
/* Zone pour afficher un message d'erreur*/
div.ZoneTitreErreur
{
	padding-left:10px;
	width:95%;
}
 /*Libelle du nombre de publications affichées*/
.LibelleNbPubli {
	margin: 0px 0px 40px;
	font-size: 1.1em;
	color:#363842;
	font-weight: bold;
}
 /*valeur du nombre de publications affichées*/
.ValeurNbPubli {
	margin: 0px 0px 40px;
	font-size: 1.1em;
	color:#363842;
 }

/* classes pour les rubriques pour certains type de classement (type de publi, année de publi) */
.Rubrique{
	border: 0;
	color:#58529f;
	margin-left:0.2em;
	margin-bottom:0.2em;
  font-weight:bold;
	font-size:1.4em;
}
.SousRubrique{
	color:#58529f;
  font-weight:bold;
	margin-left:0.4em;
	font-size:1.2em;
}

/* Classe le dl qui contient chaque publication */
.NoticeRes {
	border: 0;
	padding-bottom: 0.5em;
	margin:0 0 1em;
}
.NoticeResAvecVignette {
	border: 0;
	padding-bottom: 0.5em;
	min-height:100px;
}

/*classe dt qui permmettent d'afficher les noms des champs */
.ChampRes {
	clear:both;
	float:left;
	text-align:left;
	font-size:0.9em;
	font-weight:bold;
	width: 23%;
	margin-left:1em;
	margin-bottom: 0em;
	margin-top: 0em;
	padding: 0em;
}
.ChampResAvecVignette {
	display:none;
width: 15%;
	text-align:left;
	font-size:0.9em;
	color:#58529F;
	font-weight:bold;
	margin-bottom: 0em;
	margin-top: 0em;
	padding: 0em;
	margin-left:120px;
}


/* classes dd pour l'affichage de la valeur des champs
/* Nom du champ : titre, auteur, detail, acces au texte integral...
 - pratique pour connaitre le nom du champ et la classe css associÃ©e
 - ne fonctionne pas si on affiche les vignettes */

/* Classe commune à  tous les champs affichés */
.ValeurRes {
	margin-left:25%;
	margin-bottom: 0em;
	margin-top: 0em;
	padding: 0em;
	text-align:left;
	font-size: 0.9em;
	font-size: 1em;
}
.ValeurRes a{
	color:black;
	text-decoration:underline;
	font-size: 1em;
}
/* quand il y a affichage de vignette */
.ValeurResAvecVignette {
	margin-left:120px;
	margin-bottom: 0em;
	margin-top: 0em;
	padding: 0em;
	text-align:left;
	font-size: 0.9em;
	font-size: 1em;
}
.ValeurResAvecVignette a{
	color:black;
	text-decoration:underline;
	font-size: 1em;
}


/* classe pour les auteurs */
.Auteurs {
}
/* classe pour les titres */
.Titre {
   font-weight:bold;
}
/* classe pour les identifiants */
.Identifiant {
}
/* classe des détails de publication : une classe par type */
.detail_revue,.detail_conf,.detail_cours,.detail_ouv,.detail_hdr,.detail_these,.detail_autre,.detail_brevet,.detail_rapport,.detail_sans_ref{
}
/* classe pour les doi */
.DOI{
}
/* classe pour les résumés */
.Debut_du_resume{
}
/* classe pour le type de document */
.Type_de_document{
}
/* classe pour l'audience */
.Audience{
}
/* affichage des vignettes*/
.Vignette {
  float: left;
  clear:left;
  padding-right:0em;
  margin-left:0.5em;
  }
.VignetteImg {
	width: auto;
	height: auto;
}

/*affichage des fichiers joints*/
.Fichier_joint a{
    text-decoration:none;
}

/*lien vers le bibtex*/
.LienBibtex{
}
.LienBibtexACoteFulltext{
margin-left:1em;
}
/*mois de la conférence*/
.MoisConf{
}

.ref_biblio_hal a{
	text-decoration:none;
}
